<section id="catalogo" class="section section-alt">
  <div class="container">
    <h2 class="section-title" id="titulo-productos">
      Selecciona un componente para ver opciones
    </h2>
    <div id="lista-productos" class="productos-grid">
      <!-- Aquí JS inserta las tarjetas de producto, solo es un llamado -->
      
    </div>
  </div>
</section>
